%li.message-item{id: "message_#{message.id}"}
  .message-header
    %strong= message.respond_to?(:username) ? message.username : "Usuário"
    %time{ datetime: (message.created_at&.iso8601 || "") }
      = message.created_at&.strftime("%d/%m/%Y %H:%M") || "-"
  %p.message-content= message.content
  .message-actions
    = render "reactions/reactions", 
           message_id: message.id, 
           community_id: @community_data.id,
           user_reaction: Reaction.find_by(message_id: message.id, user_id: session[:user_id])&.reaction_type
    = link_to "Responder", replies_community_message_path(@community_data.id, message.id),
          data: { turbo_frame: "replies_#{message.id}" },
          class: "btn btn--xs"

  %turbo-frame{id: "replies_#{message.id}"}