%html
  %head
    %title= content_for(:title) || "Community Manager"
    %meta{name: "viewport", content: "width=device-width,initial-scale=1"}
    %meta{name: "apple-mobile-web-app-capable", content: "yes"}
    = csrf_meta_tags
    = csp_meta_tag
    = yield :head
    %link{rel: "manifest", href: "/manifest.json"}
    %link{rel: "icon", href: "/icon.png", type: "image/png"}
    %link{rel: "icon", href: "/icon.png", type: "image/svg+xml"}
    %link{rel: "apple-touch-icon", href: "/icon.png"}
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body
    = render "layouts/flash_messages"
    - hide_nav = (controller_name == "sessions" && action_name == "new") || (controller_name == "users" && action_name == "new")
    - puts "\n\n\n\n"
    - pp session.to_h
    - puts "\n\n\n\n"
    - if session[:user_id].present? && !hide_nav
      %nav.top-nav
        .nav-left
          .hello-section
            %span.user-greeting
              Olá, #{session[:username]}
            = button_to "Sair", session_path, method: :delete, class: "btn-logout"
        .nav-center
          = link_to "Feed", feed_path, class: "nav-link"
          = link_to "Comunidades", communities_path, class: "nav-link"
    .container-center
      = yield
